<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

    <form action="/editcate/" method="post">
        <input type="hidden" value="<%= category.id %>" name="id">
        <label for="nombre">Nombre del libro</label>
        <input type="text" name="name" value="<%= category.name %>"
        placeholder="Nombre del libro" required>
        <input type="submit" value="Editar">


    </form>

</body>
</html>